body{
    margin: 0 auto;
    padding: 0 auto;
    background-image: url(../img/fond.png);
}

a {
	text-decoration: none;
	color: rgba(246, 36, 89,1);
	transition: all 0.3s ease 0s;	
}

*{
    font-family: 'Bree Serif';
}

header {
	padding: 50px;
}

.container{
    margin-top: -50px;
}

header > a {
	color: #999;
	font-size: 4rem;
}

header a:hover {
	-webkit-transform: translate(0, 10px);
	-ms-transform: translate(0, 10px);
	transform: translate(0, 10px);
}

header a:hover {
	color: rgba(246, 36, 89,1);
}

header img {
	width: 40px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	transition: transform 0.3s ease 0s;
}

header > a:hover img {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

nav {
	float: right;
}

nav a {
	display: inline-block;
	color: #999;
	padding: 0 50px;
	text-align: center;
	font-size: 1.2em;
}

nav a i {
	display: block!important;
	padding: 10px;
}

.container span{
    font-size: 0.8em;
}

.presentation{
    background-image: url(../img/bg_header.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 650px;
}

.presentation h1{
    padding-top: 150px;
    font-size: 2.7em;
    color: white;
}

.presentation p{
    font-size: 1.3em;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
}

.presentation button{
        background-color:#F52559;
        color: white;
        padding: 15px 30px;
        border: 0;
        border-radius: 5px;
        margin-top: 50px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        font-weight: bold;
    }

/* main */
/* section 1 */
.section-1{
    margin-top: 150px;
    text-align: center;
}

h1{
    font-size: 2.3em;
    color: #F52559;
}

hr{
    width: 85%;
    background-color: #F0F1F1;
    opacity: 0.20;;
}

.html, .css, .js{
    display: inline-block;
    padding: 15px 80px;
    margin-bottom: 100px;
}

.stats p{
    color: #777777;
    font-size: 1.3em;
    font-weight: bold;
    margin: -2px;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.services h3{
    color: #F52559;
    font-size: 1.3em;
}

.services p{
    font-size: 1.2em;
    color: #999999;
    line-height: 40px;
}

.services i {
    font-size: 2em;
    color: #999999;
}

.on-discute, .on-tente, .on-code{
    display: inline-block;
    width: 20%;
    padding: 40px;
}

/* section 2 */
.exemple{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article{
    text-align: start;
}

.exemple hr{
    width: 100%;
}

.right{
    width: 550px;
    float: right;
    vertical-align: top;
    padding-left: 20px;
}

.left{
    width: 550px;
    float: left;
    vertical-align: top;
    padding-right: 20px;
}

.article h4{
    color: #F52559;
    font-size: 1.3em;
}

.article p{
    color: #999999;
    line-height: 40px;
    font-size: 1.2em;
}

.article button{
    color:#F52559;
    background-color: transparent;
    padding: 15px 40px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
}

.article button:hover{
    transition: 0.3s;
    color: white;
    background-color: #F52559;
    padding: 15px 40px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
}

.article i {
    padding-left: 5px;
}

/* Footer */
footer{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer hr{
    width: 100%;
}

footer p{
    text-align: start;
    color: #999999;
    line-height: 40px;
    font-size: 1.1em;
}

form {
	text-align: center;
}

input, textarea {
	padding: 20px 20px 20px 70px;
	margin: 1%;
	color: #666;
	background-color: transparent;
	border-radius: 50px;
	border: 1px solid #ccc;
	font-family: Arial;
	font-size: 1.4rem;
}

input {
	width: 48%;
	float: left;
}

input:first-child {
	background-image: url(../img/bg_form_name.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 10px;
}

input:nth-of-type(2) {
	background-image: url(../img/bg_form_mail.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 10px;
}

textarea {
	width: 98%;
	resize: none;
	background-image: url(../img/bg_form_message.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 10px;
}

.btn {
	margin: 25px 0;
	padding: 15px 25px;
	border: 0;
	color: white;
}

.btn:hover {
	cursor: pointer;
}

.btn[type="submit"] {
	background-color: #f62459;
}

.btn[type="reset"] {
	background-color: #999;
}

